{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f830f3e202.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
     <!-- fontawesome settings -->
    <link
     rel="stylesheet"
   />
</head>
<body class="dark-bg">
    <nav class="navbar navbar-expand-lg navbar-dark no-prin" style="background-color: #1f2877;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'inventorylist' %}">IMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% if request.user.is_authenticated and request.user.role == 'employees'%}
                <a class="nav-link" aria-current="page" href="{% url 'sales' %}"><i class="fa fa-sack-dollar"></i> Sales</a>
                <a class="nav-link " href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> LogOut</a>
              {% elif request.user.is_authenticated %}
                <a class="nav-link" aria-current="page" href="{% url 'inventorylist' %}"><i class="fa fa-house-user"></i> Inventory</a>
                <a class="nav-link" aria-current="page" href="{% url 'product_add' %}"><i class="fa fa-plus"></i> Add</a>
                <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}"><i class="fas fa-chart-line"></i> Dashboard</a>
                <a class="nav-link" aria-current="page" href="{% url 'sales' %}"><i class="fa fa-sack-dollar"></i> Sales</a>
                <a class="nav-link" aria-current="page" href="{% url 'stock_load' %}"><i class="fa fa-truck-ramp-box"></i> Load</a>
                <a class="nav-link" aria-current="page" href="{% url 'report' %}"><i class="fa fa-print"></i> Daily</a>
                <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}"><i class="fa fa-lock"></i> Admin</a>
                <a class="nav-link " href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> LogOut</a>
              {% endif %}
            </div>
          </div>
        </div>
    </nav>

    <main class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10 col-sm-12 col-xm-12">
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{ message.tags }} mt-4">
                              {{ message }}
                          </div>
                      {% endfor %}
                  {% endif %} 
                  {% block content %}
                  {% endblock %}
              </div>
              <div class="col-md-1"></div>
          </div>
      </div>
    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>