{% extends "../layout.html" %}
{% load static %}
{% block title %}Logout{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex h-100 align-items-center justify-content-center">
        <div class="text-center mb-5">
            <h1 class="mb-5">Odjavljeni ste</h1>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Ponovo se prijavite</a>
            <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Registrirajte se</a>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
{% endblock %}
