{% extends "../layout.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}
<div class="container content-section p-4" style="background-color: #1f2877;">
    <div class="card">
        <div class="card-header text-center">
            <h3><strong>Dodaj proizvod</strong></h3> 
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                <div class="form-group">
                    {{ form|crispy }}
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
