{% extends '../layout.html' %}
{% block content %}
<div class="card-header text-center">
  <h3><strong>Inventar</strong></h3>
</div>
<div class="card-body">
<div class="content-section">
    <table class="table table-striped table-bordered table-hover" "text-center" >
        <thead class="table" "text-center" style="background-color: #ffffff;">
          <tr class="text-center" style="background-color: #1f2877; color: #ffffff;">
            <th scope="col">Id</th>
            <th scope="col">Ime</th> 
            <th scope="col">Količina na zalihama</th>
            <th scope="col">Prodana količina</th>
            <th scope="col">Cijena po artiklu</th>
            <th scope="col">Prihod</th>
            <th scope="col">Datum zaliha</th>
            <th scope="col">Datum posljednje prodaje</th>
            <th scope="col">Akcija</th>
          </tr>
        </thead>
        <tbody>
          {% for item in inventories %}
            <tr class="text-center" style='cursor: pointer; cursor: hand;' onclick="window.location=`{% url 'per_product' item.id %}`">
              <th scope="row">{{ forloop.counter }}</th>
              <th scope="col">{{ item.name }}</th>
              <th scope="col">{{ item.quantity_in_stock }}</th>
              <th scope="col">{{ item.quantity_sold }}</th>
              <th scope="col">{{ item.cost_per_item }}</th>
              <th scope="col">{{ item.revenue }}</th>
              <th scope="col">{{ item.stock_date }}</th>
              <th scope="col">{{ item.last_sales_date }}</th>
              <th scope="col">
                <a href="{% url 'product_update' item.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url 'product_delete' item.id %}" class="text-danger" onclick="return confirmDelete({{ item.id }})"><i class="fa-solid fa-trash-can"></i></a>

                <script>
                  function confirmDelete(id) {
                      if (confirm("Are you sure you want to delete this product?")) {
                        window.location.href = "{% url 'product_delete' item.id %}" + id + "/";
                      }
                      return true;
                  }
              </script>
              </th>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}